.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
}